<div class="container">
    <div class="row">
        <div class="col-md-12 ">
            <form class="form" name="form" ng-submit="settingsCtrl.changePassword(form, user)" novalidate>
                <div class="panel panel-colorful">
                    <div class="panel-body">
                      <h2>Change Password</h2>
                        <div class="form-group">
                            <label>Current Password</label>
                            <input type="password" name="password" class="form-control" ng-model="user.oldPassword" mongoose-error/>
                            <p class="help-block">
                                {{ settingsCtrl.errors.other }}
                            </p>
                        </div>
                        <div class="form-group">
                            <label>New Password</label>
                            <input type="password" name="newPassword" class="form-control" ng-model="user.newPassword" ng-minlength="3" required/>
                            <p class="help-block" ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)">
                                Password must be at least 3 characters.
                            </p>
                        </div>
                        <p class="help-block"> {{ settingsCtrl.message }} </p>
                    </div>
                    <div class="panel-footer">
                        <button class="btn btn-lg btn-primary" type="submit">Save changes</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>