<!-- <div class="row">
  <div class="col-md-6">
    <div class="panel panel-colorful">
      <chart value='metacriticCtrl.bar' type="bar" height="300">
      </chart>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-colorful">
      <chart value='metacriticCtrl.pie' type="pie" height="300">
      </chart>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-colorful">
      <chart value='metacriticCtrl.line' type="line" height="360">
      </chart>
    </div>
  </div>
</div> -->

<div class="container">
    <div class="block-header">
        <h2>Games</h2>
        <ul class="actions">
            <li>
                <a href="">
                    <i class="md md-trending-up"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="md md-done-all"></i>
                </a>
            </li>
            <li class="dropdown">
                <a href="" data-toggle="dropdown">
                    <i class="md md-more-vert"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="">Refresh</a>
                    </li>
                    <li>
                        <a href="">Manage Widgets</a>
                    </li>
                    <li>
                        <a href="">Widgets Settings</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
