<div class="container">
    <div class="block-header">
        <h2>Server Stats</h2>
        <ul class="actions">
            <li>
                <a href="">
                    <i class="md md-trending-up"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="md md-done-all"></i>
                </a>
            </li>
            <li class="dropdown">
                <a href="" data-toggle="dropdown">
                    <i class="md md-more-vert"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="">Refresh</a>
                    </li>
                    <li>
                        <a href="">Manage Widgets</a>
                    </li>
                    <li>
                        <a href="">Widgets Settings</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="mini-charts">
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="mini-charts-item bgm-cyan">
                    <sparkline type="bar" title="Daily Page Views" value="237,675"></sparkline>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="mini-charts-item bgm-lightgreen">
                    <sparkline type="bar" title="Unique Visitors" value="47,432"></sparkline>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="mini-charts-item bgm-orange">
                    <sparkline type="line" title="Estimated Worth" value="$ 342,778"></sparkline>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="mini-charts-item bgm-bluegray">
                    <sparkline type="line" title="Daily Income" value="$ 2,856"></sparkline>
                </div>
            </div>
        </div>
    </div>
    <div class="dash-widgets">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div id="site-visits" class="dash-widget-item bgm-teal">
                    <div class="dash-widget-header">
                        <div class="p-20">
                            <div class="dash-widget-visits">
                                <sparkline type="line" height="79" width="100%" ></sparkline>
                            </div>
                        </div>
                        <div class="dash-widget-title">For the past 30 days</div>                        
                    </div>
                    <div class="p-20">
                        <small>Page Views</small>
                        <h3 class="m-0 f-400">9,896,536</h3>
                        <br>
                        <small>Site Visitors</small>
                        <h3 class="m-0 f-400">4,456,799</h3>
                        <br>
                        <small>Total Clicks</small>
                        <h3 class="m-0 f-400">13,965</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div id="pie-charts" class="dash-widget-item">
                    <div class="bgm-pink">
                        <div class="dash-widget-header">
                            <div class="dash-widget-title">Visitor Engagement</div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="text-center p-20 m-t-25">
                            <div class="easy-pie main-pie" data-percent="28" data-easypie-chart>
                                <div class="percent">28</div>
                                <div class="pie-title">Bounce Rate</div>
                            </div>
                        </div>
                    </div>
                    <div class="p-t-20 p-b-20 text-center">
                        <div class="easy-pie sub-pie-1" data-percent="21" data-easypie-chart>
                            <div class="percent">21</div>
                            <div class="pie-title">Search Results</div>
                        </div>
                        <div class="easy-pie sub-pie-2" data-percent="79" data-easypie-chart>
                            <div class="percent">79</div>
                            <div class="pie-title">Other</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="card dash-widget-item">
                    <div class="card-header bgm-cyan">
                        <h2>About Metacritic <small>Source: Wikipedia</small></h2>
                    </div>
                    <div class="card-body card-padding" style="padding-bottom:12px;">
                        <p>Metacritic is a website that aggregates reviews of music albums, games, movies, TV shows, DVDs, and formerly, books. For each product, a numerical score from each review is obtained and the total is averaged.
                        </p>
                        <p>It was created and founded by Jason Dietz, Marc Doyle, and Julie Doyle Roberts. An excerpt of each review is provided along with a hyperlink to the source. <a href="">Read More</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div id="best-selling" class="dash-widget-item ng-scope" data-ng-controller="bestsellingCtrl as wctrl">
                    <div class="dash-widget-header">
                        <div class="dash-widget-title">Best Sellings</div>
                        <img src="img/widgets/alpha.jpg" alt="">
                        <div class="main-item">
                            <small>Samsung Galaxy Alpha</small>
                            <h2>$799.99</h2>
                        </div>
                    </div>
                    <div class="listview p-t-5">
                        <!-- ngRepeat: w in wctrl.bsResult.list -->
                        <a class="lv-item ng-scope" href="" data-ng-repeat="w in wctrl.bsResult.list">
                            <div class="media">
                                <div class="pull-left">
                                    <img class="lv-img-sm" data-ng-src="img/widgets/note4.jpg" alt="" src="img/widgets/note4.jpg">
                                </div>
                                <div class="media-body">
                                    <div class="lv-title ng-binding">Samsung Galaxy Note 4</div>
                                    <small class="lv-small ng-binding">$850.00 - $1199.99</small>
                                </div>
                            </div>
                        </a>
                        <!-- end ngRepeat: w in wctrl.bsResult.list -->
                        <a class="lv-item ng-scope" href="" data-ng-repeat="w in wctrl.bsResult.list">
                            <div class="media">
                                <div class="pull-left">
                                    <img class="lv-img-sm" data-ng-src="img/widgets/mate7.jpg" alt="" src="img/widgets/mate7.jpg">
                                </div>
                                <div class="media-body">
                                    <div class="lv-title ng-binding">Huawei Ascend Mate</div>
                                    <small class="lv-small ng-binding">$649.59 - $749.99</small>
                                </div>
                            </div>
                        </a>
                        <!-- end ngRepeat: w in wctrl.bsResult.list -->
                        <a class="lv-item ng-scope" href="" data-ng-repeat="w in wctrl.bsResult.list">
                            <div class="media">
                                <div class="pull-left">
                                    <img class="lv-img-sm" data-ng-src="img/widgets/535.jpg" alt="" src="img/widgets/535.jpg">
                                </div>
                                <div class="media-body">
                                    <div class="lv-title ng-binding">Nokia Lumia 535</div>
                                    <small class="lv-small ng-binding">$189.99 - $250.00</small>
                                </div>
                            </div>
                        </a>
                        <!-- end ngRepeat: w in wctrl.bsResult.list -->
                        <a class="lv-footer" href="">
                                    View All
                                </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <!-- Recent Posts -->
            <div class="card ng-scope" data-ng-controller="recentpostCtrl as rpctrl">
                <div class="card-header ch-alt m-b-20">
                    <h2>Recent Posts <small>Phasellus condimentum ipsum id auctor imperdie</small></h2>
                    <ul class="actions">
                        <li>
                            <a href="">
                                <i class="md md-cached"></i>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="md md-file-download"></i>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="" data-toggle="dropdown">
                                <i class="md md-more-vert"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a href="">Change Date Range</a>
                                </li>
                                <li>
                                    <a href="">Change Graph Type</a>
                                </li>
                                <li>
                                    <a href="">Other Settings</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <button class="btn bgm-cyan btn-float waves-effect"><i class="md md-add"></i></button>
                </div>
                <div class="card-body">
                    <div class="listview">
                        <!-- ngRepeat: w in rpctrl.rpResult.list -->
                        <a class="lv-item ng-scope" href="" data-ng-repeat="w in rpctrl.rpResult.list">
                            <div class="media">
                                <div class="pull-left">
                                    <img class="lv-img-sm" data-ng-src="img/profile-pics/1.jpg" alt="" src="img/profile-pics/1.jpg">
                                </div>
                                <div class="media-body">
                                    <div class="lv-title ng-binding">David Belle</div>
                                    <small class="lv-small ng-binding">Cum sociis natoque penatibus et magnis dis parturient montes</small>
                                </div>
                            </div>
                        </a>
                        <!-- end ngRepeat: w in rpctrl.rpResult.list -->
                        <a class="lv-item ng-scope" href="" data-ng-repeat="w in rpctrl.rpResult.list">
                            <div class="media">
                                <div class="pull-left">
                                    <img class="lv-img-sm" data-ng-src="img/profile-pics/2.jpg" alt="" src="img/profile-pics/2.jpg">
                                </div>
                                <div class="media-body">
                                    <div class="lv-title ng-binding">Jonathan Morris</div>
                                    <small class="lv-small ng-binding">Nunc quis diam diamurabitur at dolor elementum, dictum turpis vel</small>
                                </div>
                            </div>
                        </a>
                        <!-- end ngRepeat: w in rpctrl.rpResult.list -->
                        <a class="lv-item ng-scope" href="" data-ng-repeat="w in rpctrl.rpResult.list">
                            <div class="media">
                                <div class="pull-left">
                                    <img class="lv-img-sm" data-ng-src="img/profile-pics/3.jpg" alt="" src="img/profile-pics/3.jpg">
                                </div>
                                <div class="media-body">
                                    <div class="lv-title ng-binding">Fredric Mitchell Jr</div>
                                    <small class="lv-small ng-binding">Phasellus a ante et est ornare accumsan at vel magnauis blandit turpis at augue ultricies</small>
                                </div>
                            </div>
                        </a>
                        <!-- end ngRepeat: w in rpctrl.rpResult.list -->
                        <a class="lv-item ng-scope" href="" data-ng-repeat="w in rpctrl.rpResult.list">
                            <div class="media">
                                <div class="pull-left">
                                    <img class="lv-img-sm" data-ng-src="img/profile-pics/4.jpg" alt="" src="img/profile-pics/4.jpg">
                                </div>
                                <div class="media-body">
                                    <div class="lv-title ng-binding">Glenn Jecobs</div>
                                    <small class="lv-small ng-binding">Ut vitae lacus sem ellentesque maximus, nunc sit amet varius dignissim, dui est consectetur neque</small>
                                </div>
                            </div>
                        </a>
                        <!-- end ngRepeat: w in rpctrl.rpResult.list -->
                        <a class="lv-item ng-scope" href="" data-ng-repeat="w in rpctrl.rpResult.list">
                            <div class="media">
                                <div class="pull-left">
                                    <img class="lv-img-sm" data-ng-src="img/profile-pics/5.jpg" alt="" src="img/profile-pics/5.jpg">
                                </div>
                                <div class="media-body">
                                    <div class="lv-title ng-binding">Bill Phillips</div>
                                    <small class="lv-small ng-binding">Proin laoreet commodo eros id faucibus. Donec ligula quam, imperdiet vel ante placerat</small>
                                </div>
                            </div>
                        </a>
                        <!-- end ngRepeat: w in rpctrl.rpResult.list -->
                        <a class="lv-footer" href="">View All</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card ng-scope" data-ng-controller="recentitemCtrl as rictrl">
                <div class="card-header">
                    <h2>Recent Items <small>Phasellus condimentum ipsum id auctor imperdie</small></h2>
                    <ul class="actions">
                        <li class="dropdown">
                            <a href="" data-toggle="dropdown">
                                <i class="md md-more-vert"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a href="">Refresh</a>
                                </li>
                                <li>
                                    <a href="">Settings</a>
                                </li>
                                <li>
                                    <a href="">Other Settings</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="card-body m-t-0">
                    <table class="table table-inner table-vmiddle">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th style="width: 60px">Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- ngRepeat: w in rictrl.riResult.list -->
                            <tr data-ng-repeat="w in rictrl.riResult.list" class="ng-scope">
                                <td class="f-500 c-cyan ng-binding">2569</td>
                                <td class="ng-binding">Samsung Galaxy Mega</td>
                                <td class="f-500 c-cyan ng-binding">521</td>
                            </tr>
                            <!-- end ngRepeat: w in rictrl.riResult.list -->
                            <tr data-ng-repeat="w in rictrl.riResult.list" class="ng-scope">
                                <td class="f-500 c-cyan ng-binding">9658</td>
                                <td class="ng-binding">Huawei Ascend P6</td>
                                <td class="f-500 c-cyan ng-binding">440</td>
                            </tr>
                            <!-- end ngRepeat: w in rictrl.riResult.list -->
                            <tr data-ng-repeat="w in rictrl.riResult.list" class="ng-scope">
                                <td class="f-500 c-cyan ng-binding">1101</td>
                                <td class="ng-binding">HTC One M8</td>
                                <td class="f-500 c-cyan ng-binding">680</td>
                            </tr>
                            <!-- end ngRepeat: w in rictrl.riResult.list -->
                            <tr data-ng-repeat="w in rictrl.riResult.list" class="ng-scope">
                                <td class="f-500 c-cyan ng-binding">2569</td>
                                <td class="ng-binding">Samsung Galaxy Alpha</td>
                                <td class="f-500 c-cyan ng-binding">870</td>
                            </tr>
                            <!-- end ngRepeat: w in rictrl.riResult.list -->
                            <tr data-ng-repeat="w in rictrl.riResult.list" class="ng-scope">
                                <td class="f-500 c-cyan ng-binding">6598</td>
                                <td class="ng-binding">LG G3</td>
                                <td class="f-500 c-cyan ng-binding">690</td>
                            </tr>
                            <!-- end ngRepeat: w in rictrl.riResult.list -->
                        </tbody>
                    </table>
                </div>
                <div id="recent-items-chart" class="flot-chart" data-line-chart="" style="padding: 0px; position: relative;">
                    <canvas class="flot-base" width="1118" height="300" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 559px; height: 150px;"></canvas>
                    <canvas class="flot-overlay" width="1118" height="300" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 559px; height: 150px;"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
