#l-login, #l-register {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -250px;
    margin-top: -155px;
}



.login-content .login-navigation > li {
  border-radius: 10px;
  padding: 0 5px;
  font-size: 8px;
}

