<!-- Login -->
<div class="lc-block toggled" id="l-login">
    <form name="form" ng-submit="loginCtrl.login(form, user)">
        <div class="input-group m-b-20">
            <span class="input-group-addon"><i class="md md-person"></i></span>
            <div class="fg-line">
                <input type="email" placeholder="Email Address" name="email" class="form-control" ng-model="user.email" required>
            </div>
        </div>
        <div class="input-group m-b-20">
            <span class="input-group-addon"><i class="md md-accessibility"></i></span>
            <div class="fg-line">
                <input type="password" placeholder="Password" name="password" class="form-control" ng-model="user.password" required>
            </div>
        </div>
        <div class="form-group has-error">
            <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && loginCtrl.submitted">
                Please enter your email and password.
            </p>
            <p class="help-block" ng-show="form.email.$error.email && loginCtrl.submitted">
                Please enter a valid email.
            </p>
            <p class="help-block"> {{ loginCtrl.errors.other }}</p>
        </div>
        <div class="clearfix"></div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="">
                <i class="input-helper"></i> Keep me signed in
            </label>
        </div>
        <button type="submit" class="btn btn-login btn-danger btn-float">
            <i class="md md-arrow-forward"></i>
        </button>
        <ul class="login-navigation">
            <li data-block="#l-register" ui-sref="signup" class="bgm-red">Register</li>
        </ul>
    </form>
</div>
