@import "../vendor/theme.scss";

// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'main/main.scss';
@import 'preloader/preloader.scss';
@import 'sidebar/sidebar.scss';
@import 'sparkline/sparkline.scss';
// endinjector

body{
	padding: 0;
}

html, body, .page__main, .login-content{
	height: 100%;
}

