<div class='load-bar preloader' ng-class="{'hidden':mainPreloader==false,'visible':mainPreloader==true}">
    <div class='load-bar-container'>
        <div class='load-bar-base base1'>
            <div class='color red'> </div>
            <div class='color blue'> </div>
            <div class='color yellow'> </div>
            <div class='color green'> </div>
        </div>
    </div>
    <div class='load-bar-container'>
        <div class='load-bar-base base2'>
            <div class='color red'> </div>
            <div class='color blue'> </div>
            <div class='color yellow'> </div>
            <div class='color green'> </div>
        </div>
    </div>
</div>
