<ul class="header-inner" ng-controller="NavbarCtrl as navbarCtrl">
    <li id="menu-trigger" data-trigger="#sidebar">
        <div class="line-wrap">
            <div class="line top"></div>
            <div class="line center"></div>
            <div class="line bottom"></div>
        </div>
    </li>
    <li class="logo hidden-xs">
        <a href="index.html">Meta-Stats</a>
    </li>
    <li class="pull-right">
        <ul class="top-menu">
            <li id="toggle-width">
                <div class="toggle-switch">
                    <input id="tw-switch" type="checkbox" checked="true" hidden="hidden">
                    <label for="tw-switch" class="ts-helper"></label>
                </div>
            </li>
            <li class="dropdown">
                <a data-toggle="dropdown" class="tm-settings" href=""></a>
                <ul class="dropdown-menu dm-icon pull-right" ng-if="!navbarCtrl.isLoggedIn()">
                    <li>
                        <a href="https://github.com/craigrich/meta-stats" target="_blank"><i class="socicon socicon-github"></i> About</a>
                    </li>
                    <li>
                        <a ui-sref="login"><i class="md md-account-circle"></i> Login</a>
                    </li>                    
                </ul>
                <ul class="dropdown-menu dm-icon pull-right" ng-if="navbarCtrl.isLoggedIn()">
                    <li>
                        <a href="https://github.com/craigrich/meta-stats" target="_blank"><i class="socicon socicon-github"></i> About</a>
                    </li>
                    <li>
                        <a ui-sref="main.settings"><i class="md md-settings"></i> Settings</a>
                    </li>
                    <li>
                        <a href="" ng-click="navbarCtrl.logout()"><i class="md md-exit-to-app"></i> Logout</a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
<div id="top-search-wrap">
    <input type="text">
    <i id="top-search-close">&times;</i>
</div>
