.page__main.ng-enter {
    transition: 0.5s ease;
    opacity: 0;
}

.page__main{
	padding-top: 65px;
}

.page__main.ng-enter-active {
    opacity: 1;
}

.page__main.ng-leave {
    transition: 0.5s ease;
    opacity: 1;
}

.page__main.ng-leave-active {
    opacity: 0;
}

.page__main{
	position: relative;
}

.page__main.login-content:before {
  height: 50%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #00bcd4;
  content: "";
  z-index: 0;
}

.main__content{  
  padding-top: 65px;
}