<div class="sidebar-inner c-overflow" ng-controller="SidebarCtrl as sidebarCtrl">
    <div class="profile-menu" ng-class="{ user: sidebarCtrl.isLoggedIn() }">
        <a href="">
            <div class="profile-pic">
                <img src="assets/images/profile-pics/4.jpg" alt="" ng-if="!sidebarCtrl.isLoggedIn()">
                <img src="assets/images/profile-pics/1.jpg" alt="" ng-if="sidebarCtrl.isLoggedIn()">

            </div>
            <div class="profile-info">
                <span ng-if="!sidebarCtrl.isLoggedIn()"> Guest User </span>
                <span ng-if="sidebarCtrl.isLoggedIn()"> {{ sidebarCtrl.getCurrentUser().name }} </span>
                <i class="md md-arrow-drop-down"></i>
            </div>
        </a>
        <ul class="main-menu" ng-if="!sidebarCtrl.isLoggedIn()">
            <li>
                <a ui-sref="login"><i class="md md-account-circle"></i> Login</a>
            </li>
        </ul>
        <ul class="main-menu" ng-if="sidebarCtrl.isLoggedIn()">
            <li>
                <a ui-sref="main.settings"><i class="md md-settings"></i> Settings</a>
            </li>
            <li>
                <a href="" ng-click="sidebarCtrl.logout()"><i class="md md-exit-to-app"></i> Logout</a>
            </li>
        </ul>
    </div>
    <ul class="main-menu">
        <li ng-class="{active: sidebarCtrl.isActive('/server')}"><a ui-sref="main.server"><i class="md md-group-work"></i> Server Stats</a></li>
        <li ng-class="{active: sidebarCtrl.isActive('/games')}"><a ui-sref="main.games"><i class="md md-games"></i> Game Stats</a></li>        
        <li ng-class="{active: sidebarCtrl.isActive('/data')}"><a ui-sref="main.data"><i class="md md-dns"></i> Data</a></li>
    </ul>
</div>
