<div class="lc-block" id="l-register">
    <form class="form form-horizontal" name="form" ng-submit="signupCtrl.register(form, form.user)">
        <div class="input-group m-b-20">
            <span class="input-group-addon"><i class="md md-person"></i></span>
            <div class="fg-line">
                <input type="text" name="name" class="form-control" ng-model="form.user.name" placeholder="Username" required/>
            </div>
        </div>
        <p class="help-block" ng-messages="form.name.$error" style="color:red" ng-show="signupCtrl.submitted">
            <span ng-message="required">A username is required</span>
            <span ng-message="mongoose">{{ signupCtrl.errors.email }}</span>
        </p>
        <div class="input-group m-b-20">
            <span class="input-group-addon"><i class="md md-mail"></i></span>
            <div class="fg-line">
                <input type="email" name="email" class="form-control" ng-model="form.user.email" placeholder="Email Address" required />
            </div>
        </div>
        <p class="help-block" ng-messages="form.email.$error" style="color:red" ng-show="signupCtrl.submitted">
            <span ng-message="email">Doesn't look like a valid email.</span>
            <span ng-message="required">What's your email address?</span>
            <span ng-message="mongoose">{{ signupCtrl.errors.email }}</span>
        </p>
        <div class="input-group m-b-20">
            <span class="input-group-addon"><i class="md md-accessibility"></i></span>
            <div class="fg-line">
                <input type="password" name="password" class="form-control" ng-model="form.user.password" placeholder="Password" ng-minlength="3" required />
            </div>
        </div>
        <p class="help-block" ng-messages="form.password.$error" style="color:red" ng-show="signupCtrl.submitted">
            <span ng-message="minlength">Password must be at least 3 characters.</span>
            <span ng-message="mongoose"> {{ signupCtrl.errors.password }}</span>
        </p>
        <div class="clearfix"></div>
        <button type="submit" href="" class="btn btn-login btn-danger btn-float"><i class="md md-arrow-forward"></i></button>
        <ul class="login-navigation">
            <li data-block="#l-login" ui-sref="login" class="bgm-green">Login</li>
        </ul>
    </form>
</div>
